body {
    height: 100%;
    width: 100%;
    margin: 0;
    /*background-color: #90AFC5;*/
    font-family: sans-serif;
}

/* <----------- this is container of road ------------------> */
#container {
    position: relative;
    height: 92vh;
    width: 92vw;
    /* left: 20%;
    right: 20%; */

    margin-top: 20px;

}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -400;
}

/* <----------------ends here---------------------------------> */


/* <-----------this is line between road----------------------> */
/* .line {
    position: absolute;
    height: 150px;
    width: 3%;

    background-color: whitesmoke;
}

#line_1 {
    top: -150px;
    margin-left: 31%;
}

#line_2 {
    top: 150px;
    margin-left: 31%;
}

#line_3 {
    top: 450px;
    margin-left: 31%;
}

#line_4 {
    position: absolute;
    top: -150px;
    margin-left: 66%;
}

#line_5 {
    position: absolute;
    top: 150px;
    margin-left: 66%;
}

#line_6 {
    position: absolute;
    top: 450px;
    margin-left: 66%;
} */

/*<------------------ends here -----------------------------------> */



.car {
    position: absolute;
    height: 110px;
    width: 90px;
    border-radius: 200px;
    /* box-shadow: 0px 1px 8px 0px black; */
}


#car {
    bottom: 2%;
    left: 60%;
    /* background-color: #ffdf5a; */
}

#car_1 {
    top: -720px;
    left: 60%;
    /* background-color: rgb(199, 171, 120); */
}

#kite {
    transform: scaleY(-1);
    transform-origin: center;
    width: 90px;
}

#car_2 {
    top: -650px;
    left: 30%;
    /* height: 70px;
    background-color: #26c5ff; */
}

#car_3 {
    top: -550px;
    left: 37%;
    /* height: 80px;
    background-color: pink; */
}

/* #car_4 {
    top: -450px;
    left: 78%; */
/* height: 65px;
    background-color: aquamarine; */
/* }

#car_5 {
    top: -350px;
    left: 93%;
    height: 70px;
    background-color: red;
}

#car_6 {
    top: -250px;
    left: 7%;
    height: 65px;
    background-color: violet;
}

#car_7 {
    top: -150px;
    left: 14%;
    height: 75px;
    background-color: white;
} */

/* #car_8{
    top: -50px
    left: 28%;
    height: 50px;
    width: 50px;
    background-color: #aaaaaa;
} */




/*<------------------ends here -----------------------------------> */


/* <----------- this is about cars features ------------------> */
/* .f_glass {
    position: absolute;
    height: 20%;
    width: 60%;
    margin-left: 20%;
    top: 15%;
    border-radius: 0px 0px 5px 5px;
    background-color: #484848;
}

.b_glass {
    position: absolute;
    height: 20%;
    width: 60%;
    margin-left: 20%;
    bottom: 15%;
    border-radius: 5px 5px 0px 0px;
    background-color: #45d678;
}

.f_light_l {
    position: absolute;
    height: 10%;
    width: 20%;
    margin-left: 10%;
    top: -6%;
    border-radius: 5px 5px 0px 0px;
    background-color: orangered;
}

.f_light_r {
    position: absolute;
    height: 10%;
    width: 20%;
    margin-left: 70%;
    top: -6%;
    border-radius: 5px 5px 0px 0px;
    background-color: orangered;
}

.f_tyre_l {
    position: absolute;
    height: 20%;
    width: 20%;
    background-color: grey;
    top: 20%;
    left: -20%;
    border-radius: 50%;
}

.f_tyre_r {
    position: absolute;
    height: 20%;
    width: 20%;
    background-color: grey;
    top: 20%;
    left: 100%;
    border-radius: 50%;
}

.b_tyre_l {
    position: absolute;
    height: 20%;
    width: 20%;
    background-color: grey;
    top: 70%;
    left: -20%;
    border-radius: 50%;
}

.b_tyre_r {
    position: absolute;
    height: 20%;
    width: 20%;
    background-color: grey;
    top: 70%;
    left: 100%;
    border-radius: 50%;
} */

/*<------------------ends here -----------------------------------> */


/* <----------- this is about restart button ------------------> */
#restart_div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #292929;
    color: white;

    font-size: 40px;
    text-align: center;
    display: none;
}

#restart {
    border: none;
    padding: 25px;
    color: green;
    background-color: white;
    font-size: 30px;
    margin-top: 10%;
    font-family: cursive
}


/*<------------------ends here -----------------------------------> */

/* <----------- this is about various div ------------------> */

#score_div {
    position: absolute;
    top: 0;
    margin-top: 0%;
    margin-left: 0%;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    color: #454545;
    padding: 10px;
    box-shadow: 1px 1px 4px 4px #808080;


}

#name_div {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    color: #454545;
    padding: 10px;
    box-shadow: 1px 1px 4px 4px #808080;

}

#lov_div {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    color: red;
    margin-bottom: 30px;

    padding-left: 10px;
    box-shadow: 1px 0px 4px 4px #808080;
}

#lov {
    font-size: 35px;
}

/*<------------------ends here -----------------------------------> */

.help {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    color: grey;
    padding: 5px;
    box-shadow: 1px 0px 4px 4px #808080;


}

.small_text {

    font-size: 15px;
    color: red;
    font-family: cursive;
}

#follow {
    position: absolute;
    top: 40%;
    right: 5%;
    width: 20px;
    height: 20px;
    border-radius: 50%;



}

#follow1 {
    position: absolute;
    top: 50%;
    right: 5%;
    width: 20px;
    height: 20px;
    border-radius: 50%;


}




@media (max-width: 400px) {


    #lov_div {


        padding: 0;
        font-size: 15px;
    }

    #lov {
        font-size: 15px;
    }

    #name_div {
        font-size: 15px;
        padding: 2px;

    }

    #score_div {
        position: absolute;
        top: 0px;
        margin-left: 0px;
        padding: 0;
        font-size: 25px;


    }

    .help {
        font-size: 10px;
    }



    #line_1 {
        top: -250px;
        margin-left: 31%;
    }

    #line_2 {
        top: 150px;
        margin-left: 31%;
    }

    #line_3 {
        top: 550px;
        margin-left: 31%;
    }

    #line_4 {
        position: absolute;
        top: -250px;
        margin-left: 66%;
    }

    #line_5 {
        position: absolute;
        top: 150px;
        margin-left: 66%;
    }

    #line_6 {
        position: absolute;
        top: 550px;
        margin-left: 66%;
    }



}

/*<---------------------------------------------------- css  ends here ------------------------------------------------------> */