body {
    height: 100%;
    width: 100%;
    margin: 0;
    /*background-color: #90AFC5;*/
    font-family: sans-serif;
}

/* <----------- this is container of road ------------------> */

}

#restart_div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #292929;
    color: white;

    font-size: 40px;
    text-align: center;
    display: none;
}

#restart {
    border: none;
    padding: 25px;
    color: green;
    background-color: white;
    font-size: 30px;
    margin-top: 10%;
    font-family: cursive
}


/*<------------------ends here -----------------------------------> */

/* <----------- this is about various div ------------------> */

#score_div {
    position: absolute;
    top: 0;
    margin-top: 0%;
    margin-left: 0%;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    color: #454545;
    padding: 10px;
    box-shadow: 1px 1px 4px 4px #808080;
    z-index: 1;


}

#name_div {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    color: #454545;
    padding: 10px;
    box-shadow: 1px 1px 4px 4px #808080;

}

#lov_div {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    color: red;
    margin-bottom: 30px;

    padding-left: 10px;
    box-shadow: 1px 0px 4px 4px #808080;
}

#lov {
    font-size: 35px;
}

/*<------------------ends here -----------------------------------> */

.help {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    color: grey;
    padding: 5px;
    box-shadow: 1px 0px 4px 4px #808080;
    z-index: 2;


}

.small_text {

    font-size: 15px;
    color: red;
    font-family: cursive;
}

#follow {
    position: absolute;
    top: 40%;
    right: 5%;
    width: 20px;
    height: 20px;
    border-radius: 50%;



}

#follow1 {
    position: absolute;
    top: 50%;
    right: 5%;
    width: 20px;
    height: 20px;
    border-radius: 50%;


}




@media (max-width: 400px) {


    #lov_div {


        padding: 0;
        font-size: 15px;
    }

    #lov {
        font-size: 15px;
    }

    #name_div {
        font-size: 15px;
        padding: 2px;

    }

    #score_div {
        position: absolute;
        top: 0px;
        margin-left: 0px;
        padding: 0;
        font-size: 25px;


    }

    .help {
        font-size: 10px;
    }



    #line_1 {
        top: -250px;
        margin-left: 31%;
    }

    #line_2 {
        top: 150px;
        margin-left: 31%;
    }

    #line_3 {
        top: 550px;
        margin-left: 31%;
    }

    #line_4 {
        position: absolute;
        top: -250px;
        margin-left: 66%;
    }

    #line_5 {
        position: absolute;
        top: 150px;
        margin-left: 66%;
    }

    #line_6 {
        position: absolute;
        top: 550px;
        margin-left: 66%;
    }



}

/*<---------------------------------------------------- css  ends here ------------------------------------------------------> */